*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
body{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#F5CF8E;
    font-family:sans-serif;
    
}
h1:first-of-type{
    width:100%;
    background-color:#B2D6FF;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    padding:7px 0px;
}
.navbar{
    width:100%;
    background-color:gray;
    display:flex;
    justify-content:space-around;
    position: sticky;
    top:0;
}
.navbar>li{
    font-size: 20px;

    display:flex;
    align-items: center;
    list-style:none;
}
.navbar>li:last-of-type{
    margin-left:auto;
}
.navbar>li a,
.navbar>li a:visited{
    height:45px;
    padding: 0 20px;
    text-align:center;
    color:#F09A9D;
    text-decoration: none;
    display:flex;
    align-items: center;
    
}
.navbar>li a:hover{
    background-color: #80bbff;
    color: #F09A9D;
}
.content{
    background-color:lightgray;
    width:100%;
    padding: 10px;
}

.content p:first-of-type{
    font-size:22px;
}
.content p{
    font-size:18px;
    padding:13px;
}
.content h2{
    font-size:20px;
    padding:10px;
}
.content li{
    font-size:18px;
    padding-left:13px;
    padding-right:13px;
}
.content ol,
.content ul{
    list-style: none;
}
.content a:link,
.content a:visited{
    text-decoration: none;
    color:#407FC7;
}
.content a:hover{
    color: #5995DA;
    text-decoration: underline;
}
.me-image{
    width:250px;
    float:left;
    overflow: inherit;
    padding:15px;
}
@media only screen and (max-width:400px){
    h1:first-of-type{
        font-size:30px;
    }
    .me-image{
        float:none;
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:300px;
    }
    .navbar{
        flex-direction: column;
        display:flex;
        justify-content: center;
    }
    .navbar>li:last-of-type{
        margin-left:0;
    }
    .navbar>li a{
        display: flex;
        justify-content: center;
        width:100%;
    }
    
}
